<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.vkorneyev.cordova.plugin.starioprint"
    version="0.0.1">
    
    <name>Cordova-Plugin-StarIOPrint</name>
    
    <description>Cordova plugin to print using StarIO Printers.</description>
    
    <repo>https://github.com/fasteroko/cordova-plugin-StarIOPrint.git</repo>
    
    <keyword>StarPrinter, StarIO, iOS</keyword>
    
    <license>Apache 2.0 License</license>
    
    <author>Vladyslav Korneyev</author>
    
    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>
    
    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />
    
    <!-- js -->
    <js-module src="www/StarIOPrint.js" name="StarIOPrint">
        <clobbers target="cordova.plugins.starIOPrint" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="StarIOPrint">
                <param name="ios-package" value="StarIOPrint" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/StarIOPrint.h" />
        <source-file src="src/ios/StarIOPrint.m" />
        
        <header-file src="src/ios/RasterDocument.h" />
        <source-file src="src/ios/RasterDocument.m" />
        
        <header-file src="src/ios/StarBitmap.h" />
        <source-file src="src/ios/StarBitmap.m" />
        
        <framework src="src/ios/StarIO.framework" custom="true" />
        <framework src="ExternalAccessory.framework"/>
        <framework src="CoreBluetooth.framework"/>
    </platform>
    
</plugin>



